<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button>Share</ion-fab-button>
    <ion-fab-list side="top">
      <ion-button>
        <ion-label>Pizza</ion-label>
      </ion-button>
      <ion-button>
        <ion-label>Bebida</ion-label>
      </ion-button>
      <ion-button>
        <ion-label>Cancelar</ion-label>  
      </ion-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
